@charset "utf-8";

$orange:       #FF7518;
$yellow:       #f1c40f;
$green:        #2ecc71;
$turquoise:    #14a789;
$blue:         #3498db;
$purple:       #8e44ad;
$red:          #e74c3c;

$primary: $purple !default;

$primary: $purple !default;
$warning: $orange;

$orange-invert: #fff;
$warning-invert: $orange-invert;

$background: lighten($primary, 50);

$family-sans-serif: 'Muli', "Helvetica Neue", Arial, sans-serif;
$body-size: 14px;

$subtitle-color: darken($primary, 10);

@import "../node_modules/bulma/bulma.sass";

.announcer {
  margin-top: 40px;
  display:inline-block;
  color:#444;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 30vw;
  padding: 5px;
  text-align: center;
}

.announcerAlternative {
  margin-top: 40px;
  display:inline-block;
  color:rgb(49, 49, 49);
  border:1px solid #CCC;
  background:rgb(255, 255, 255);
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 30vw;
  padding: 5px;
  text-align: center;
}

.noteboard {
  margin-top: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
